<% provide :title, t(".subtitle") %>
<h1><%= t ".subtitle" %></h1>
<p>
  <%= link_to t(".ruby_on_rail"), Settings.help.path_link %>
  <%= t ".part_of" %>
  <%= link_to t(".learn_enough"), Settings.help.path_link1 %>
  <%= t ".family_of" %>
  <%= link_to t(".book"), Settings.help.path_link2 %>
  <%= t ".and" %>
  <%= link_to t(".screen"), Settings.help.path_link3 %>
  <%= t ".to_teach" %>
  <%= link_to t(".ruby_on_rails"), Settings.help.path_link4 %>
  <%= t ".sample" %>
</p>
