<footer class= "footer" >
  <small>
    <%= t ".the" %>
    <%= link_to t(".ruby_on_rail"), Settings.footer.path_link1 %>
    <%= t ".by" %>
    <%= link_to t(".author"), Settings.footer.path_link2 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), Settings.footer.path_link3 %></li>
    </ul>
  </nav>
</footer>
